.leaflet-container {
  height: 100px;
  width: 200px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0 !important;
}

.active {
  background: #c3c3c363 !important;
}

.active .ant-table-cell-row-hover {
  background: #c3c3c363 !important;
}

.green {
  background: green;
}

.ant-space-item {
  flex: 1;
  width: 100%;
}
